header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

h1, h2, p {
  text-align: center;
}

h1, h2 {
  font-family: 'Markazi Text', serif;
}

/*------HERO STYLES----------*/
.outter-hero {
  background-color: #495e57;
  height: 560px;
  margin-bottom: 80px;
}

.hero {
  width: 90%;
  padding-top: 10px;
  margin: 0 auto;
}

.hero p {
  font-family: 'Karla', sans-serif;
  margin: 1rem auto;
  font-size: 18px;
}


.hero h1 {
  color: #ee9972;
  font-size: 64px;
  margin: 0;
}

.hero h2 {
  font-size: 40px;
  margin: 0.5rem 0;
}

.hero a, .specials a {
  border-radius: 15px;
  background-color: #f4ce14;
  color: black;
  text-decoration: none;
  padding: 5px;
  display:block;
  margin: 0 auto;
  width: 160px;
  text-align: center;
  transition: all 0.3s ease;
}

.hero a:hover, .specials a:hover {
  transform: translateY(-1px);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
}

.hero a:visited, .specials a:visited {
  color: black;
}

.hero h2, .hero p {
  color: white;
}



.hero img {
  display: block;
  width: 228px;
  height: 344px;
  margin: 25px auto 0;
  clip-path: inset(30px 0 30px 0 round 15px); /* crops the image 10px from top and bottom, and adds border radius of 15px*/
}

/*--------SPECIALS STYLES---------*/

.specials {
  width: 80%;
  margin: 0 auto;
} 

.specials h2 {
  font-size: 40px;
}

.specials img {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 20px 20px 0 0;
}

.specials .card{
  margin-top: 50px;
  width: 342px;
  margin-right: auto;
  margin-left: auto;
}

.specials .card div{
  background-color: #edefee;
  border-radius: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 14px;
}

/*--------TESTIMONIALS STYLES---------*/

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.review img {
  border-radius: 50%;
  border: 2px solid #495e57;
}


@media (min-width: 830px) {
  
  /*------HERO STYLES----------*/
  
  .outter-hero {
    height: 320px;
  }

  .hero {
    display: flex;
    max-width: 1125px;
    margin: 0 auto;
  }

  .hero h2, .hero p {
    text-align: left;
    width: 70%;
    margin: 0;
  }

  .hero h1 {
    width: 90%;
    text-align: left;
    margin: 0;
  }

  .hero a {
    margin: 20px 0;
    width: 180px;
    font-size: 1.2rem;
  }

  .specials a {
    width: 180px;
    font-size: 1.2rem;
  }

  .hero img {
    margin: -50px 40px 0 0;
    width: 342px;
    height: 516px;
    clip-path: inset(70px 0 70px 0 round 15px);
  }

  /*--------SPECIALS STYLES--------*/

  .specials {
    margin: 0 auto;
    width: 90%;
  }
  
  .specials h2 {
    font-size: 52px;
    margin: 0.75rem 0;
  }

  .specials .card {
    display: flex;
    gap: 40px;
    width: 100%;
  }

  .specials .card-item h2 {
    text-align: center;
    width: 100%;
  }

  .specials .card-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .specials h2 {
    text-align: left;
  }

  /*--------TESTIMONIALS STYLES---------*/

  .card-testimonial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .review {
    width: 30%;
  }

}